<div class="task-item mb-3" data-task-id="<%= task.id %>">
  <h3 class="task-title" contenteditable="true"><%= task.title %></h3>
  <p class="task-description" contenteditable="true"><%= task.description %></p>
   <div class="task-details">
      期限: 
    <p class="task-due-date" contenteditable="true"> <%= task.due_date.strftime('%Y年%m月%d日') %></p>
    <p class="task-completed">

      <!-- ここにアクティブハッシュのセレクトボックスを追加 -->
      <%= select_tag "task[display_color_id]", 
          options_from_collection_for_select(DisplayColor.all, :id, :name, task.display_color_id),
          class: "form-select task-display-color",
          data: { task_id: task.id }
      %>

      <%= select_tag "task[display_type_id]", 
          options_from_collection_for_select(DisplayType.all, :id, :name, task.display_type_id),
          class: "form-select task-display-type",
          data: { task_id: task.id }
      %>

      <span class="task-marker <%= task.display_color.code %> <%= task.display_type.code %>"></span>

      状態:
      <input type="checkbox" class="task-status" data-task-id="<%= task.id %>" <%= 'checked' if task.completed %>>
      <label for="task-status">完了</label>


    </p>
    <button class="task-delete-button btn btn-danger" data-task-id="<%= task.id %>" <%= task.completed? ? 1 : 'disabled' %>>削除</button>
  </div>
</div>


